<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net452" />
  <package id="CarParts.Common" version="1.0.16105.01" targetFramework="net452" />
  <package id="CarParts.Data.Componets" version="1.0.16168.01" targetFramework="net452" />
  <package id="CsvHelper" version="2.14.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Wiki.ApiClient.Core" version="1.0.16154.01" targetFramework="net45" />
  <package id="Wiki.Core" version="1.0.17017.01" targetFramework="net452" />
  <package id="Wiki.Payment.Client" version="1.0.17076.03" targetFramework="net45" />
  <package id="Wiki.Service.Common" version="1.0.17046.01" targetFramework="net45" />
  <package id="Wiki.Service.Common.Clients" version="1.0.17046.01" targetFramework="net45" />
  <package id="Wiki.Service.Configuration" version="1.0.16140.01" targetFramework="net452" />
</packages>